{% extends 'template.html' %}

{% block page_title %}Administration{% endblock %}

{% block page_content %}
<label for="AddAdmin"> Add Admin</label>
<br>
<input type="checkbox" id="AddAdmin" onclick="AdditionalAdmin()">
<div id="textbox" class="input-group" style="width:100%;display:none">
    <form method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        {% if invalid_username %}
        <span style="color:red">{{ invalid_username }}</span><br>
        {% endif %}
        <label for="email">E-Mail</label><br>
        <input type="email" name="email"><br>
        {% if invalid_email %}
        <span style="color:red">{{ invalid_email }}</span><br>
        {% endif %}
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        {% if invalid_password %}
        <span style="color:red">{{ invalid_password }}</span><br>
        {% endif %}
        <input type="submit" value="Submit" name="Submit">
        {% if success %}
        <br><span style="color:green">Success! Your account was created</span>
        {% elif failed %}
        <br><span style="color:red">Whoops! Something went wrong creating your account</span>
        {% endif %}
    </form>
</div>
<br>
<label for="DeletePerson">Delete Person</label>
<br>
<input type="checkbox" id="DeletePerson" onclick="DeletePerson()">
<div id="textbox" class="input-group" style="width:100%;display:none">
    <form method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        {% if invalid_username %}
        <span style="color:red">{{ invalid_username }}</span><br>
        {% endif %}
        <input type="submit" value="Delete person" name="Delete person">
        {% if success %}
        <br><span style="color:green">Success! Account was deleted</span>
        {% elif failed %}
        <br><span style="color:red">Whoops! Something went wrong</span>
        {% endif %}
    </form>
</div>
<br>
<div class="row">
    <form method="POST">
        <input type="submit" name="Reset db" value="Reset db">
    </form>
</div>

<script>
    function AdditionalAdmin() {
        var checkBox = document.getElementById("AddAdmin");
        var text = document.getElementById("textbox");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
<script>
    function DeletePerson() {
        var checkBox = document.getElementById("DeletePerson");
        var text = document.getElementById("textbox");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
{% endblock %}